.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2em 5em;
    text-align: center;
    align-items: center;
    
}

.navbar__categorias{
    display: flex;
    text-align: center;
    margin: 0 25em 0 0;
    gap: 3em;
}

.navbar__categorias__links{
    text-decoration: none;
    color: var(--cor-texto);
    font-weight: 500;
}

.navbar__botoes{
    display: flex;
    gap: 3em;
}

.navbar__botoes__links{
    background-color: var(--cor-destaque);
    text-decoration: none;
    color: var(--background-color);
    padding: 1em 2em;
    border-radius: 12px;
}